@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
html,
body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    
}   
.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo > img{
    height: 50px;
}   
nav {
    background-color: #000000;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100; /*merupakan tumpukan layar, semakin besar z-index semakin jg berada diplaing atas */
}
nav::before{
    content: '';
    background-image: url(../gambar/wddsprp.png);
    height: 90px;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    opacity: 0.1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
nav > .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.menu {
    width: 50%;
}
.menu > ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
}
.menu > ul > li > a{
    text-decoration: none;
    color: #fff;
}
header{
    /* background-image: url(../gambar/yuki.jpg); */
    height: 100vh;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.header-opacity{
    background-color: #000000;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
}
.header-inside{
    position: absolute;   
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #000000;
}



.section{
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.portofolio-item {
    background-color:rgba(0, 0, 0, 0.2);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #333;
    border-radius: 5px;
}
.box{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.boxx{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.head{
    text-align: center;
    margin-bottom: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    text-align: left;
}

.text{
    width: 50%;
}
.image{
    width: 40%;
}